<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lan5th.blog.dao.TagMapper">
    <select id="getById" parameterType="long" resultMap="tagBo">
        SELECT t.id, t.tag_name, t.create_time, COUNT(1) as blogCount FROM lz_blog.tags t, lz_blog.blogs b WHERE t.id = #{id} AND t.id = b.tag_id AND b.deleted = 0 GROUP BY t.id;
    </select>

    <update id="update" parameterType="com.lan5th.blog.pojo.Tag">
        update lz_blog.tags set tag_name = #{tagName} where id = #{id};
    </update>

    <insert id="save" parameterType="com.lan5th.blog.pojo.Tag">
        insert into lz_blog.tags(id, tag_name) VALUES (#{id}, #{tagName});
    </insert>

    <delete id="deleteByIds" parameterType="list">
        delete from lz_blog.tags where id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>;
    </delete>

    <!--这里注意resultType是list里面的类型，而不是java.util.list-->
    <select id="getAllTags" resultMap="tagBo">
        SELECT t.id, t.tag_name, t.create_time, (select COUNT(1) from lz_blog.blogs b where t.id = b.tag_id and b.deleted = 0) as blogCount
        FROM lz_blog.tags t where t.id != 0 GROUP BY t.id;
    </select>

    <resultMap id="tagBo" type="com.lan5th.blog.pojo.Tag">
        <result property="id" column="id"/>
        <result property="tagName" column="tag_name"/>
        <result property="createTime" column="create_time"/>
        <result property="blogCount" column="blogCount"/>
    </resultMap>
</mapper>
