<!-- 头部 -->
<nav class="blog-nav layui-header">
    <div class="layui-container">
        <!-- 登录信息/登录页面 -->
        <div id="user-info-block"></div>
        <a class="blog-logo" href="/">Lz不落阁</a>
        <ul class="blog-nav-list" lay-filter="nav">
            <li class="layui-nav-item">
                <a href="/"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="/index/tags"><i class="fa fa-book fa-fw"></i>&nbsp;文章分类</a>
            </li>
            <li class="layui-nav-item">
                <a href="/comment"><i class="fa fa-comments fa-fw"></i>&nbsp;留言交流</a>
            </li>
            <li class="layui-nav-item">
                <a href="/html/about"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
            </li>
        </ul>
        <a class="blog-navicon" href="javascript:;">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</nav>

<script type="text/javascript">
    //这里必须在$().load('head',function)的回调函数里面才能使用
    function headFunction() {
        let html = "";
        let user = JSON.parse(localStorage.getItem('user'));
        if (user != null) {
            html += "<!-- 登陆后 -->\n" +
                "    <span class=\"blog-user\">\n" +
                "        <a href=\"javascript:logout()\">\n" +
                "           <img src=\"" + user.avatarUrl + "\" alt=\"\" title=\"\" />\n" +
                "        </a>\n" +
                "        <span style='color: white'>" + user.name + "</span>\n" +
                "    </span>\n";
        } else {
            html += "<!-- 未登陆 -->\n" +
                "    <a href=\"/user/login\" class=\"blog-user\">\n" +
                "        <i class=\"fa fa-qq\"></i>\n" +
                "        <span>登录</span>\n" +
                "    </a>\n"
        }
        document.getElementById("user-info-block").innerHTML = html;

        layui.use(['element'], function () {
            let $ = layui.$;

            $('.blog-navicon').click(function () {
                var sear = new RegExp('layui-hide');
                if (sear.test($('.blog-nav-left').attr('class'))) {
                    leftIn();
                } else {
                    leftOut();
                }
            });

            $('.blog-mask').click(function () {
                leftOut();
            });

            function leftIn() {
                $('.blog-mask').unbind('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');
                $('.blog-nav-left').unbind('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend');

                $('.blog-mask').removeClass('maskOut');
                $('.blog-mask').addClass('maskIn');
                $('.blog-mask').removeClass('layui-hide');
                $('.blog-mask').addClass('layui-show');

                $('.blog-nav-left').removeClass('leftOut');
                $('.blog-nav-left').addClass('leftIn');
                $('.blog-nav-left').removeClass('layui-hide');
                $('.blog-nav-left').addClass('layui-show');
            }

            function leftOut() {
                $('.blog-mask').on('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                    $('.blog-mask').addClass('layui-hide');
                });
                $('.blog-nav-left').on('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
                    $('.blog-nav-left').addClass('layui-hide');
                });

                $('.blog-mask').removeClass('maskIn');
                $('.blog-mask').addClass('maskOut');
                $('.blog-mask').removeClass('layui-show');

                $('.blog-nav-left').removeClass('leftIn');
                $('.blog-nav-left').addClass('leftOut');
                $('.blog-nav-left').removeClass('layui-show');
            }
        });
    }

    function logout() {
        let token = localStorage.getItem("login-token");
        if (token != null) {
            console.log(token);
            $.ajax({
                headers: {
                    'token': token
                },
                type:"GET",                //请求方式
                url:"/user/logout",                 //路径
                async:false,             //是否异步
                dataType:"json",        //返回数据的格式
                success:function(res){}
            })
        }
        localStorage.removeItem('login-token');
        localStorage.removeItem('user');
        window.location.href="/";
    }
</script>
